*{
    margin: 0px;
    padding: 0px;   
    box-sizing: border-box;
}



.app{
    height: 100vh;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

aside{
    background-color: rgb(152, 226, 198);
    width: 250px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}
aside h1{
    text-align: center;
    margin-bottom: 10px;
}
.seach{
    display: block;
    width: 90%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solidcolor rgb(39, 97, 14);
}


li {
    margin-bottom: 10px;
    padding: 5px;
    background-color: rgb(57, 101, 131) ;
    margin: 5px 10px;   
    border-radius: 15px;
    list-style: none;
    display: flex
}
ul :hover{
    background-color: rgb(20, 46, 63) ;
    cursor: pointer;
    color: white;
}

li img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right:10px;
}
li span {
    display: block;
    color: rgb(48, 47, 47)
}

/* ----------------------SECCION DEL CHAT------------------------------------- */
section{
    flex:1;
display: flex;
flex-direction: column;
    background-image: url('../assets/messages_light_colour_background.jpg');
    background-size: cover;}



section header {
    background-color: rgb(27, 110, 110);
    border-bottom: 1px solid    rgb(29, 23, 23);
    padding: 10px;
}

.chat-container{
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.message {
    backdrop-filter: blur(12px);
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
}
.timeStamp {
    color: gray;
    font-size: 12px;
    text-align: end;
    margin-top: 3px;
}

.chat-input{
    padding: 10px;
    display: flex;
    background-color: rgb(27, 110, 110);
    gap:10px
}

.chat-input input{
    flex:1;
    
}