*{
    margin: 0px;
    padding: 0px;   
    box-sizing: border-box;
}



.app{
    background-color: aqua;
    height: 100vh;
    display: flex;
}

aside{
    background-color: rgb(67, 158, 123);
    width: 250px;
    
}


section{
    background-color: rgb(20, 72, 168);
    flex-grow: 1;
}

/* aside styles */
li {
    margin-bottom: 10px;
    padding: 20px;
    background-color: rgb(156, 230, 123) ;
    margin: 5px 20px;
}

li span {
    display: block;
}